<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    

    <h3>
        Welcome to my website!
    </h3>
    
    <form action="/predict" method="post">
        <label for="sensor">
            Input Sensor 1 Value:
        </label>
        <input type="number" name="sensor" id="" min="-10" max = "10" step="any">
        <input type="submit", value="Submit">
    </form>

    <br>
    
    <form action="/model" method="post">
        <label for="password">
            Admin Access:
        </label>
        <input type="password", name="password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>