<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
</head>
<body>
    <form action="" method="get">
        <label for="uinput">
            You input {{sensor}} as value for sensor 1.
        </label>
        <br>
        <label for="output">
            The predicted sensor 2 value is {{prediction}}.
        </label>
    </form>
    <br>
    <form action="\" method="post">
        <input type="submit", value="Go Home">
    </form>
</body>
</html>